nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-title-family);

  .nav-container {
    .logo {
      img {
      }
    }
  }
  .links-container {
    .links {
      list-style-type: none;
      display: flex;
      gap: 8rem;
      a {
        color: var(--accent-color);
        text-decoration: none;
      }
    }
  }
  .socials-container {
    .icons {
      list-style-type: none;
      display: flex;
      gap: 3rem;
    }
  }
  .wallet-container {
    display: flex;
    button {
      font-family: var(--font-title-family);

      height: 2.6rem;
      width: 12rem;

      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      background: var(--red-gradient);
      color: var(--accent-color);
    }
  }
}
