nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-title-family);

  .nav-container {
    .logo {
      img {
      }
    }
  }
  .links-container {
    .links {
      list-style-type: none;
      display: flex;
      gap: 8rem;
      a {
        color: var(--accent-color);
        text-decoration: none;
      }
    }
  }
  .socials-container {
    .icons {
      list-style-type: none;
      display: flex;
      gap: 3rem;
    }
  }
}
